/* ----------------------------- footer------------------------------------------- */

.piePagina {
    height: 10%;
    width: 100%;
    background-color: #0a141d;
    /*background-color: rgba(9, 172, 172, 0.677);*/
    border-top: 2px solid black; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* estos 3 me recomendaste <justify-content: center__align-content: center__justify-content: space-around> 
                                              entendi que eran para el div del footer */
  }
  .piePagina_contenido {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .piePagina .grupo_1 .colum-caja{
    width: 75%;
    max-width: 330px;
  }


  .piePagina .grupo_1 .red-social{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
   
  .piePagina .grupo_1 .red-social a {
    display: flexbox;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
  }


  .piePagina .grupo_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .piePagina h2 {
    color: #fff;
    margin: 25px 0;
    font-size: 20px;
    text-align: center;
  }
  .piePagina p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 30px;
  }

  .grupo_2{

    margin: 25px 0 0 0;

  }


  .piePagina .grupo_2 .colum_caja p {
    font-size: 90%;
    width: 100%;
    text-align: center;
  }
  /* ------------------------------- /footer---------------------------------- */
  

  @media(min-width: 768px){

    /* ----------------------------- footer------------------------------------------- */


  
  .piePagina .grupo_1 .red-social a {
    display: flexbox;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
  }
  .piePagina .grupo_1 {
      flex-direction: row;
  }
  .piePagina h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 30px;
  }
  .piePagina .grupo_1 .colum-caja{
    width: 50%;
    max-width: 330px;
    height: 174px
  }
  .piePagina .grupo_1 .colum_caja{
    width: 50%;
    max-width: 330px;
  }

  .piePagina p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 30px;
  }
  .piePagina .grupo_2 .colum_caja p {
    margin: 15px 0;


  }
  /* ------------------------------- /footer---------------------------------- */
  }



  @media(min-width: 1200px){

    .piePagina .grupo_1 .red-social{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      height: 150px;
      align-items: flex-end;
    }

    .piePagina .grupo_1 .colum-caja{
      width: 50%;
      max-width: 330px;
      height: 250px
    }

    .piePagina .grupo_1 .colum_caja{
      width: 50%;
      max-width: 330px;
      height: 250px

    }

  }